@model PruebaCRUD.Models.TONT_AVES

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Esta seguro de eliminar el elemento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre Común</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSNOMBRE_COMUN)
        </dd>

        <dt>
            <label>Nombre Cientifíco</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSNOMBRE_CIENTIFICO)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }

    <div>
        @Html.ActionLink("Atras", "Index")
    </div>
</div>
